{% extends "base.html" %}

{% block body %}
{% include "header.html" %}
<h1 style="display: flex;justify-content: center;padding-top:3%">Formulaire de livraison</h1>
<div class="container" style="max-width:30%">
  <div class = "col">
    <div class = "row ">
      <div class ="form ">
        <form method="POST" action="/formulaire" enctype='multipart/form-data'>
          {% csrf_token %}
          <div class="wrapper" style="padding-top: 3%;">
            <label for="dateLiv">Date de la livraison</label>
            <input type="date" class="form-control" name="dateLiv" id="formChauff" placeholder="Saisisez la date" required>
          </div>
          <div class="wrapper"style="padding-top: 3%;">
            <label class="form-check-label" for="retour">Retour?</label>
            <input type="checkbox" class="form-check-input" name="retour" id="Retour">
          </div>
          <div class="row"style="padding-top: 3%;">
            <label class="form-check-label" for="fichier">Choisir un fichier</label>
          </div>
          <div class="row"id="fichier-wrp" style="padding-top: 3%;padding-bottom: 3%;">
            <input type="file" class="ajouterFichier" name="fichier" id="fichier" style="width: 100px;height:30px">
          </div>
          <div class="autre-fichier-wrp"style="padding-top: 3%;">
            <button type="button" class="btn btn-secondary" id="fichier-button" >Ajouter d'autres fichiers</button>
          </div>
          <div class="row"style="padding-top:3%" >
            <label>Cargaison de bacs</label>
          </div>
          <div class="row" id="bac" style="padding: 3%;border:1px solid black">
            <label for="inputNumber1" style="padding-top: 3%;">Bac1</label>
            <input type="number" class="form-control" id="inputNumber1" name="Bac1" placeholder="Numéro de bacs" min="0" value="0">
          </div>
          <div class="row" id="bac" style="padding: 3%;border:1px solid black">
            <label for="inputNumber2" style="padding-top: 3%;">Bac2</label>
            <input type="number" class="form-control" id="inputNumber2" name="Bac2" placeholder="Numéro de bacs" min="0" value="0">
          </div>
          <div class="adresse"style="padding-top: 3%;">
            <label class="form-check-label" for="adresse">Saisisez l'adresse de livraison</label>
            <input type="text" class="form-control" name="adresse" placeholder="Saisisez l'adresse de livraison">
          </div>
          <div class="submit" style=" padding-top: 5%;">
            <button type="submit" class="btn btn-primary" >Envoyer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
  {% endblock %}
  {% block footer %}
  
  <script>
    divButton = document.getElementById("fichier-button").addEventListener("click",function cloneDiv (){
      divFichier = document.getElementById("fichier-wrp")
      divInput = document.getElementById("fichier")
      divInput2 = divInput.cloneNode(true);
      divInput2.setAttribute("id", divInput2.id+1)
      divFichier.appendChild(divInput2)
    });
  </script>
    {% endblock %}
  
