{% extends 'base.html' %}

{% block body %}
<body style ="min-height: 90%">
    <div class="px-4 pt-5 my-5 text-center border-bottom" >
      <div class="overflow-hidden" style="min-height: 60vh;">
        <div class="container px-5">
          {% load static %}
          <img src="{% static 'supergel_logo.png' %}" class="img-fluid border rounded-3 mb-4" alt="Example image" loading="lazy" width="700" height="500">
        </div>
        <button type="button" class="btn btn-primary" style="min-height: 60px; min-width: 60px;">Se connecter</button>
      </div>
    </div>
</body>
{% endblock %}